.container-noscript {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg-space.jpg');
  background-repeat: repeat;
  background-size: cover;
}

.message-noscript {
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.message-noscript .ship {
  width: 128px;
  height: 128px;
}

.message-noscript .text {
  width: 130px;
  margin-top: 15px;
  font-size: 20px;
}
